<div class="container-fluid bgmi p-0 m-0 w-100">
    <div class="row m-0 h-100">
        <div class="col col-sm-7 p-0 d-flex align-items-center" style="background-image:url('../../imgs/icon2.png');background-size: cover;">

            <div class="p-3">
                <h3 class="display-5 mb-4 text-center">
                    WhatsApp APIs
                </h3>
                <p class="text-center">90% of all WhatsApp messages are opened in less than 3 mins. Engage with your customers on the world’s most popular messaging app.

                    Transform your WhatsApp into a support and sales channel to help your customers discover and purchase your products!.</p>
            </div>
        </div>
     
    <div class="col col-sm-5 p-0 d-flex align-items-center">
        <img src="../../imgs/icon1.png" style="width:35em;">

    </div>

</div>
</div>

<style>
    .bgmi {
        height: calc(100vh - 56px);
    }
</style>