<nav class="navbar shadow navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">

            <img src="../logo.png" alt="DSS LOGO" style="width:3em" />

        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="bi bi-list  text-dark"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" style="cursor: pointer ;" ng-click="home()">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="cursor: pointer;"  ng-click="Documentation()">Document</a>
                </li> 
                <li class="nav-item"> 
                    <a class="nav-link" style="cursor: pointer ;">Policy</a>
                </li> 
                <li class="nav-item"> 
                    <a class="nav-link" style="cursor: pointer ;">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="cursor: pointer ;" ng-click="pricing()">Pricing</a>
                </li>
                
            </ul>
            <div class="d-flex">

                <button id="qrbtn" class="btn p-1 pr-2"  ng-click="qr_show()">
                    <i class="bi bi-qr-code"></i>
                  </button>  

              <span class="fw-bold d-flex align=items-center mt-2" ng-click="showProfile()">
                  Sender ID : <lable id="sender" class="d-flex align=items-center"></lable>&nbsp;
                  | &nbsp; <label id="status" class="d-flex align=items-center"></label> &nbsp; |  </span> 


                <div class="dropdown dropstart">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Profile
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" ng-click="profile()">Profile</a></li>
                        <li><a class="dropdown-item" ng-click="subscription()">Subscription</a></li>
                        <li><a class="dropdown-item" href="#">LogOut</a></li>
                    </ul>
                </div>
           
            </form>
            <br>
 
        </div>
    </div>
</nav>

 
<div class="container-fluid" id="mydata">

    <ui-view></ui-view>
   


</div>